.dialogOverlay {
  position: fixed;
  pointer-events: none;
  //   top: 0;
  left: 0;
  right: 0;
  bottom: 2vh;
  height: 62.75px;
  overflow: visible;
  @media screen and (min-width: 768px) {
    bottom: 4vh;
  }
}
.dialog {
  pointer-events: all;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25394b;
  border-radius: 8px;
  //   bottom: 2vh;
  padding: 1rem 2rem;

  @media screen and (min-width: 768px) {
    min-width: 600px;
    width: 50vw;
    max-width: 1000px;
    // bottom: 4vh;
  }

  & h2,
  div {
    padding: 0;
  }
}
