.card {
  width: 90%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cardThumb {
  object-fit: contain;
}
.cardSubtext {
  margin-top: 0.5em;
  font-size: 0.4rem;
  opacity: 0.7;
  color: var(--secondary-color);
  font-family: "Roboto Mono";
}
.cardTitle {
  font-size: 0.8rem;
  color: var(--primary-color);
  font-family: "JetBrains Mono";
  margin-bottom: 0.5em;
}
.cardDescription {
  font-family: "Roboto Mono";
  opacity: 0.9;
  color: var(--primary-color);
  font-size: 0.6rem;
}
