html {
  scroll-behavior: smooth;
}
body {
  //? also bg color
  //? also font family
  background-color: var(--bg-color);
  font-family: var(--font-roboto-mono);
  line-height: normal;
  font-style: normal;
}
:root{
  --primary-color: #fafbfe;
  --secondary-color: #12a4d5;
  --bg-color: #172430;
}
button:hover {
  cursor: pointer;
}
